@import '../../../colors.scss';

.contact-us-image {
    width: 90%;
    height: 100%;
}

.contact-us-text {
    padding-left: 5%;
}

.our-information {
    font-size: 18px;
    font-weight: 600;
    color: $heading-color;
}

@media (max-width: 768px) {
    .contact-us-image {
        width: 100%;
        margin-top: 3%
    }
}