<div class="section">
    <div class="heading-text text-center">
        Contact Us
    </div>
    <div class="mt-3">
        <div class="row">
            <div class="col-md-6 contact-us-text">
                <div>Have a Questions about our Products and Services ?</div>
                <div class="mt-2">Get in touch with our team and we will be happy to help you.</div>
                <div class="our-information mt-3">Our Information</div>
                <div class="mt-3 d-flex"><b>Merchant Legal Entity name:</b>
                    <div class="ms-1"> Mehta Corporation</div>
                </div>
                <div class="mt-3 d-flex"><b>Address:</b>
                    <div class="ms-1">W228, Pimpleshwar Mandir Rd,
                        Sagaon Dombivili East,
                        Maharashtra 421203,India</div>
                </div>
                <div class="mt-3 d-flex"><b>Phone:</b>
                    <div class="ms-1">+91 8452006089 | 8452006489</div>
                </div>
                <div class="mt-3 d-flex"><b>Email:</b>
                    <div class="ms-1">{{'info@thinnermart.com'}}</div>
                </div>
                <div class="mt-3 d-flex"><b>Hours:</b>
                    <div class="ms-1">Monday - Saturday : 9:00 AM to 6:00 PM</div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/about-us-products.png" class="contact-us-image">
            </div>
        </div>
    </div>
</div>