<div class="section">
    <div class="heading-text text-center mt-4">Our Products</div>
    <div class="our-products-grid mt-3 px-5">
        <div class="products-div" (click)="redirectToProduct()">
            <div class="text-center">
                <div class="product-image-container">
                    <img src="../../../assets/images/top-product-1.png" width="100%" height="100%">
                    <div class="icon-overlay" pTooltip="Select Options" tooltipPosition="left">
                        <mat-icon>shopping_basket</mat-icon>
                    </div>
                </div>
                <div class="thinner-class mt-2">Thinner</div>
                <div class="fs-6 fw-bold heading-color mt-1">ROYAL GP THINNER</div>
                <div class="fs-6 heading-color mt-1">₹44.00 - ₹1,855.00</div>
                <div class="d-flex justify-content-center mt-2">
                    <div class="select-options-button">Select Options</div>
                </div>
            </div>
        </div>
        <div class="products-div" (click)="redirectToProduct()">
            <div class="text-center">
                <div class="product-image-container">
                    <img src="../../../assets/images/top-product-1.png" width="100%" height="100%">
                    <div class="icon-overlay" pTooltip="Select Options" tooltipPosition="left">
                        <mat-icon>shopping_basket</mat-icon>
                    </div>
                </div>
                <div class="thinner-class mt-2">Thinner</div>
                <div class="fs-6 fw-bold heading-color mt-1">ROYAL GP THINNER</div>
                <div class="fs-6 heading-color mt-1">₹44.00 - ₹1,855.00</div>
                <div class="d-flex justify-content-center mt-2">
                    <div class="select-options-button">Select Options</div>
                </div>
            </div>
        </div>
        <div class="products-div" (click)="redirectToProduct()">
            <div class="text-center">
                <div class="product-image-container">
                    <img src="../../../assets/images/top-product-1.png" width="100%" height="100%">
                    <div class="icon-overlay" pTooltip="Select Options" tooltipPosition="left">
                        <mat-icon>shopping_basket</mat-icon>
                    </div>
                </div>
                <div class="thinner-class mt-2">Thinner</div>
                <div class="fs-6 fw-bold heading-color mt-1">ROYAL GP THINNER</div>
                <div class="fs-6 heading-color mt-1">₹44.00 - ₹1,855.00</div>
                <div class="d-flex justify-content-center mt-2">
                    <div class="select-options-button">Select Options</div>
                </div>
            </div>
        </div>
        <div class="products-div" (click)="redirectToProduct()">
            <div class="text-center">
                <div class="product-image-container">
                    <img src="../../../assets/images/top-product-1.png" width="100%" height="100%">
                    <div class="icon-overlay" pTooltip="Select Options" tooltipPosition="left">
                        <mat-icon>shopping_basket</mat-icon>
                    </div>
                </div>
                <div class="thinner-class mt-2">Thinner</div>
                <div class="fs-6 fw-bold heading-color mt-1">ROYAL GP THINNER</div>
                <div class="fs-6 heading-color mt-1">₹44.00 - ₹1,855.00</div>
                <div class="d-flex justify-content-center mt-2">
                    <div class="select-options-button">Select Options</div>
                </div>
            </div>
        </div>
        <div class="products-div" (click)="redirectToProduct()">
            <div class="text-center">
                <div class="product-image-container">
                    <img src="../../../assets/images/top-product-1.png" width="100%" height="100%">
                    <div class="icon-overlay" pTooltip="Select Options" tooltipPosition="left">
                        <mat-icon>shopping_basket</mat-icon>
                    </div>
                </div>
                <div class="thinner-class mt-2">Thinner</div>
                <div class="fs-6 fw-bold heading-color mt-1">ROYAL GP THINNER</div>
                <div class="fs-6 heading-color mt-1">₹44.00 - ₹1,855.00</div>
                <div class="d-flex justify-content-center mt-2">
                    <div class="select-options-button">Select Options</div>
                </div>
            </div>
        </div>
    </div>
</div>