<div class="section">
    <div class="heading-text text-center">
        {{"Terms & Conditions" | translate}}
    </div>
    <div class="mt-3">
        {{"Please read these terms and conditions" | translate}}
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Business Eligibility" | translate}}</div>
        <ul>
            <li>{{"Thinner Mart supplies" | translate}}</li>
            <li>{{"At the time of placing an order" | translate}}</li>
            <li>{{"We accept orders strictly" | translate}}</li>
            <li>{{"Eligible buyers include:" | translate}}</li>
            <li>{{"Industrial units" | translate}}</li>
            <li>{{"Construction sites (via contractors)" | translate}}</li>
            <li>{{"Retailers and distributors" | translate}}</li>
            <li>{{"We do not supply" | translate}}</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Prohibited Uses" | translate}}</div>
        <ul>
            <li>{{"For any unlawful" | translate}}</li>
            <li>{{"To violate any applicable" | translate}}</li>
            <li>{{"To harass" | translate}}</li>
            <li>{{"To submit" | translate}}</li>
            <li>{{"To transmit" | translate}}</li>
            <li>{{"To interfere" | translate}}</li>
            <li>{{"We reserve" | translate}}</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Disclaimer of Warranties & Limitation of Liability" | translate}}</div>
        <ul>
            <li>{{"Thinner Mart provides all" | translate}}</li>
            <li>{{"We do not guarantee uninterrupted" | translate}}</li>
            <li>{{"We are not liable for any loss" | translate}}</li>
            <li>{{"This includes, but is not limited" | translate}}</li>
            <li>{{"In no case shall Thinner Mart" | translate}}</li>
            <li>{{"Thinner Mart shall not be held"}}</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Payment Terms & Conditions" | translate}}</div>
        <div>{{"We accept payments through various methods:" | translate}}</div>
        <ol>
            <li>UPI</li>
            <li>{{"Net Banking_1" | translate}} (NEFT/IMPS)</li>
            <li>{{"Debit/Credit Cards" | translate}}</li>
            <li>{{"Pay in Installments" | translate}}</li>
        </ol>
        <div>{{"Cash on Delivery" | translate}} (COD)</div>
        <div>{{"Available only in Mumbai" | translate}}</div>
        <div>- {{"10% advance payment" | translate}}</div>
        <div>- {{"90% payment" | translate}}</div>
        <div>{{'Important Note' | translate}} -</div>
        <div>{{"Once an order is dispatched" | translate}}</div>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Disclaimer of Warranties & Limitation of Liability" | translate}}</div>
        <ul>
            <li>{{"Please do not make any payments" | translate}}
            </li>
            <li>{{"If you receive any suspicious" | translate}}</li>
            <li>{{"We are not responsible" | translate}}</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Customer Support" | translate}}</div>
        <div class="mt-2">
            {{"For any questions or concerns_1" | translate}}
        </div>
        <div>{{"Email:" | translate}} {{'thinnermart@gmail.com'}}</div>
        <div>{{"Call" | translate}}</div>
    </div>
</div>