<div class="section">
    <div class="heading-text text-center">
        Terms & Conditions
    </div>
    <div class="mt-3">
        Please read these terms and conditions carefully before using our website or placing an order. By accessing or
        using our services, you agree to comply with these terms.
    </div>
    <div class="mt-3">
        <div class="fw-bold">Business Eligibility</div>
        <ul>
            <li>Thinner Mart supplies thinners only to GST/MSME registered vendors.</li>
            <li>At the time of placing an order, customers must provide a valid GST Number or MSME Registration
                Certificate for verification.</li>
            <li>We accept orders strictly for industrial and commercial use only.</li>
            <li>Eligible buyers include:</li>
            <li>Industrial units.</li>
            <li>Construction sites (via contractors).</li>
            <li>Retailers and distributors.</li>
            <li>We do not supply for personal use.</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Prohibited Uses</div>
        <ul>
            <li>For any unlawful or unauthorized purpose.</li>
            <li>To violate any applicable laws or regulations.</li>
            <li>To harass, abuse, defame, threaten, or discriminate against others.</li>
            <li>To submit false information or impersonate someone else.</li>
            <li>To transmit viruses or malicious code that could harm the website or users.</li>
            <li>To interfere with the security or functionality of this website.</li>
            <li>We reserve the right to suspend or terminate your access if you violate any of these terms.</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Disclaimer of Warranties & Limitation of Liability</div>
        <ul>
            <li>Thinner Mart provides all products and services on an "as is" and "as available" basis.</li>
            <li>We do not guarantee uninterrupted, secure, or error-free use of our website or services.</li>
            <li>We are not liable for any loss, damage, or inconvenience arising from the use of our website, products,
                or services.</li>
            <li>This includes, but is not limited to, delays, inaccuracies, or damage caused during shipping or misuse
                of products.</li>
            <li>In no case shall Thinner Mart or its team be held responsible for indirect, incidental, or consequential
                damages.</li>
            <li>Thinner Mart shall not be held responsible for any unlawful or illegal activities carried out by buyers
                or third parties using our products or services</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Payment Terms & Conditions</div>
        <div>We accept payments through various methods:</div>
        <ol>
            <li>UPI</li>
            <li>Net Banking (NEFT/IMPS)</li>
            <li>Debit/Credit Cards</li>
            <li>Pay in Instalments via Snapmint (0%* interest)</li>
        </ol>
        <div>Cash on Delivery (COD)</div>
        <div>Available only in Mumbai and Navi Mumbai for orders above ₹10,000/- with the following conditions:</div>
        <div>- 10% advance payment at the time of order</div>
        <div>- 90% payment at the time of delivery</div>
        <div>Important Note -</div>
        <div>Once an order is dispatched, cancellations are not accepted.</div>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Disclaimer of Warranties & Limitation of Liability</div>
        <ul>
            <li>Please do not make any payments or share financial details without confirmation from our official email.
            </li>
            <li>If you receive any suspicious request or communication asking for payment, kindly contact our customer
                care immediately for verification.</li>
            <li>We are not responsible for any loss arising from payments made to unauthorized individuals or unofficial
                channels.</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Customer Support</div>
        <div class="mt-2">
            For any questions or concerns, please contact us:
        </div>
        <div>Email: {{'thinnermart@gmail.com'}}</div>
        <div>Call: 8452006089</div>
    </div>
</div>