<div class="cart-section">
    <div class="heading-text mt-4">Cart</div>
    <div class="row gx-5 mt-2" *ngIf="productList.length">
        <div class="col-md-8">
            <div class="border-bottom-1 d-flex justify-content-between">
                <div class="pb-2">PRODUCT</div>
                <div class="pb-2">TOTAL</div>
            </div>
            <div *ngFor="let product of productList;let i = index;">
                <div class="row mt-3 border-bottom-1 pb-3" *ngFor="let variant of product.variant;let j = index;">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"><img class="w-100" [src]="baseUrl+'/'+variant.image">
                            </div>
                            <div class="col-md-8">
                                <div class="fs-5 heading-color">{{product.productName}}</div>
                                <div class="mt-1">₹{{variant.price | number}}</div>
                                <div class="mt-1">Size: {{variant.size}} {{variant.unit}}</div>
                                <div class="mt-1"><p-inputnumber [showButtons]="true" buttonLayout="horizontal"
                                        [(ngModel)]="product.productQty" inputId="horizontal" spinnerMode="horizontal"
                                        (ngModelChange)="updateCart(i,j)" [step]="1" [min]="1" class="mt-2">
                                        <ng-template #incrementbuttonicon>
                                            <mat-icon class="text-black">add</mat-icon>
                                        </ng-template>
                                        <ng-template #decrementbuttonicon>
                                            <mat-icon class="text-black">remove</mat-icon>
                                        </ng-template>
                                    </p-inputnumber></div>
                                <div class="mt-1"><span class="heading-color underline kt-pointer"
                                        (click)="removeItem(i)">Remove item</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 fs-5 heading-color text-end">
                        ₹{{(variant.qty * variant.price * product.productQty) | number}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="border-bottom-1 pb-2">CART TOTALS</div>
            <div class="border-bottom-1 d-none">
                <div class="accordion" id="couponAccordionMain">
                    <div class="accordion-item border-0">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse"
                                data-bs-target="#couponAccordion" aria-expanded="false" aria-controls="couponAccordion">
                                Add coupons
                            </button>
                        </h2>
                        <div id="couponAccordion" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#couponAccordionMain">
                            <div class="accordion-body px-0">
                                <div class="d-flex">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="Enter code" [(ngModel)]="couponCode">
                                    </mat-form-field>
                                    <div class="coupon-apply mt-2 ms-2" [class.coupon-apply-disable]="couponCode==''">
                                        Apply
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-bottom-1 d-flex fw-bold h5 heading-color justify-content-between py-3">
                <span>Estimated total</span><span>₹{{purchaseTotal | number}}</span>
            </div>
            <div class="mt-3">
                <div class="proceed-to-checkout" (click)="proceedToCheckout()">
                    Proceed to Checkcout
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="productList.length==0" class="mt-2 text-center">
        <img src="../../../assets/images/empty-cart.svg" class="w-12rem">
        <div class="fw-bold mt-2">Oops! Your cart is empty.</div>
        <div class="d-flex justify-content-center mt-3">
            <div class="select-options-button" (click)="goToProducts()">Explore Products</div>
        </div>
    </div>
</div>