<footer class="footer p-4 mt-5">
    <div class="row g-4">
        <div class="col-md-3">
            <div class="text-center"> <img src="../../../assets/images/Thinner mart logo.jpg"
                    class="footer-company-logo">
            </div>
            <div class="footer-text mt-3">
                {{"Premium Quality Thinners"|translate}}
            </div>
        </div>
        <div class="col-md-3">
            <div class="footer-text text-white">{{"Quick Links" |translate}}</div>
            <div class="footer-text pt-3"><span class="kt-pointer" [routerLink]="['/']">{{"Home"|translate}}</span>
            </div>
            <div class="footer-text pt-3"><span class="kt-pointer" [routerLink]="['about-us']">
                    {{"About Us"|translate}}</span></div>
            <div class="footer-text pt-3"><span class="kt-pointer"
                    [routerLink]="['products']">{{"Products"|translate}}</span></div>
            <div class="footer-text pt-3"><span class="kt-pointer" [routerLink]="['contact-us']">
                    {{"Contact Us"|translate}}</span></div>
        </div>
        <div class="col-md-3">
            <div class="footer-text text-white">{{"Policies" |translate}}</div>
            <div class="footer-text pt-3"><span class="kt-pointer" [routerLink]="['privacy-policy']">
                    {{"Privacy Policy" |translate}}
                </span></div>
            <div class="footer-text pt-3"><span class="kt-pointer"
                    [routerLink]="['shipping-and-delivery-policy']">{{"Shipping & Delivery Policy" |translate}}</span>
            </div>
            <div class="footer-text pt-3"><span class="kt-pointer"
                    [routerLink]="['refund-and-replacement-policy']">{{"Refund & Replacement Policy" |translate}}</span>
            </div>
            <div class="footer-text pt-3"><span class="kt-pointer" [routerLink]="['terms-and-conditions']">
                    {{"Terms & Conditions" |translate}}</span></div>
        </div>
        <div class="col-md-3">
            <div class="footer-text text-white">{{"Contact Us" |translate}}</div>
            <div class="pt-3 d-flex">
                <div>
                    <mat-icon class="footer-text fs-4 mt-1"> location_on</mat-icon>
                </div>
                <div class="footer-text ms-2">{{"W228, Pimpleshwar Mandir Rd" |translate}}</div>
            </div>
            <div class="pt-3 d-flex">
                <div>
                    <mat-icon class="footer-text fs-4 mt-1"> phone_iphone</mat-icon>
                </div>
                <div class="footer-text ms-2">{{"+91 8452006089 | 8452006489" |translate}}</div>
            </div>
            <div class="pt-3 d-flex">
                <div>
                    <mat-icon class="footer-text fs-4"> mail_outline</mat-icon>
                </div>
                <div class="footer-text ms-2">{{"enquiry@thinnermart.com"}}</div>
            </div>
        </div>
    </div>
</footer>