<footer class="footer p-4 mt-5">
    <div class="row g-4">
        <div class="col-md-3">
            <div class="text-center"> <img src="../../../assets/images/Thinner mart logo.jpg"
                    class="footer-company-logo">
            </div>
            <div class="footer-text mt-3">
                Premium Quality Thinners manufactured in India. Serving Professionals and Businesses since 2005.
            </div>
        </div>
        <div class="col-md-3">
            <div class="footer-text text-white">Quick Links</div>
            <div class="footer-text pt-3"><span class="kt-pointer" [routerLink]="['/']">Home</span></div>
            <div class="footer-text pt-3"><span class="kt-pointer" [routerLink]="['about-us']">About Us</span></div>
            <div class="footer-text pt-3"><span class="kt-pointer" [routerLink]="['products']">Products</span></div>
            <div class="footer-text pt-3"><span class="kt-pointer" [routerLink]="['contact-us']">Contact Us</span></div>
        </div>
        <div class="col-md-3">
            <div class="footer-text text-white">Policies</div>
            <div class="footer-text pt-3"><span class="kt-pointer" [routerLink]="['privacy-policy']">Privacy
                    Policy</span></div>
            <div class="footer-text pt-3"><span class="kt-pointer"
                    [routerLink]="['shipping-and-delivery-policy']">Shipping & Delivery Policy</span></div>
            <div class="footer-text pt-3"><span class="kt-pointer"
                    [routerLink]="['refund-and-replacement-policy']">Refund & Replacement Policy</span></div>
            <div class="footer-text pt-3"><span class="kt-pointer" [routerLink]="['terms-and-conditions']">Terms &
                    Conditions</span></div>
        </div>
        <div class="col-md-3">
            <div class="footer-text text-white">Contact Us</div>
            <div class="pt-3 d-flex">
                <div>
                    <mat-icon class="footer-text fs-4 mt-1"> location_on</mat-icon>
                </div>
                <div class="footer-text ms-2">228, Pimpleshwar Mandir Rd,
                    Sagaon Dombivili East,
                    Maharashtra 421203,India</div>
            </div>
            <div class="pt-3 d-flex">
                <div>
                    <mat-icon class="footer-text fs-4 mt-1"> phone_iphone</mat-icon>
                </div>
                <div class="footer-text ms-2">+91 8452006089 | 8452006489</div>
            </div>
            <div class="pt-3 d-flex">
                <div>
                    <mat-icon class="footer-text fs-4"> mail_outline</mat-icon>
                </div>
                <div class="footer-text ms-2">{{"info@thinnermart.com"}}</div>
            </div>
        </div>
    </div>
</footer>