@import '../../../colors.scss';

.footer {
    background-color: $footer-bg-color;
    position: relative;
}

.footer-company-logo {
    width: 96px;
    height: 101px;
}

.footer-text {
    color: $footer-text-color;
    font-size: 16px;
}