@use '../../../colors.scss' as *;

.logo-box {
    // background-color: #88bdf5;
    padding: 6px 14px;
    border-radius: 6px;
    font-weight: 600;
}

.navbar-nav .nav-link {
    color: gray;
    font-weight: 600;
    margin-right: 20px;
    position: relative;
}

.navbar-nav .nav-link.active {
    color: $color-text-header-active;
}

.custom-link:hover {
    color: $color-text-header-active !important;
}

@media (min-width: 992px) {
    .navbar-nav .nav-link.active::after {
        content: '';
        display: block;
        height: 3px;
        width: 100%;
        background-color: $color-accent;
        position: absolute;
        bottom: -6px;
        left: 0;
    }
}

.custom-link {
    cursor: pointer;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.fixed-top-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background-color: $color-text-header;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 3px;
    padding-bottom: 3px;
}

@media (max-width:360px) {
    .fixed-header {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}

.header-company-logo {
    width: 96px;
    height: 101px;
}

@media (max-width:490px) {
    .header-company-logo {
        width: 96px;
        height: 101px;
    }

    .login-button {
        display: none;
    }

    .header-cart-price {
        display: none;
    }
}

@media (max-width:566px) {
    .fixed-header {
        top: 30px;
    }
}

@media (max-width:348px) {
    .fixed-header {
        top: 78px;
    }
}

@media (min-width:490px) {
    .login-nav {
        display: none;
    }
}


.menu-position {
    position: relative;
    bottom: 10px;
}

.header-cart {
    padding: 10px 30px 10px 30px;
    border: 1px solid #000;
    display: flex;
    position: relative;
    border-radius: 5px;
}

::ng-deep.badge {
    right: 11% !important;
    font-size: 9px !important;
}

.cart-buttons button {
    padding: 14px 30px 10px 30px;
}

.btn-login {
    border: 1px solid $heading-color;
    background-color: transparent;
    color: $heading-color;
    padding: 10px 30px 10px 30px;
}

.btn-login:hover {
    color: #fff;
    background-color: $heading-color;
}

.btn-outline-danger {
    padding: 10px 30px 10px 30px;
}

.select-options-button {
    background-color: $heading-color;
    text-align: center;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}