<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-header shadow-none">
    <a class="navbar-brand d-flex align-items-center me-0" href="#">
        <div class="logo-box text-white text-center"><img class="header-company-logo"
                src="../../../assets/images/Thinner mart logo.jpg">
        </div>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="isCollapse = !isCollapse"
        data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse menu-position justify-content-center mt-4" [class.show]="isCollapse"
        id="navbarNav">
        <ul class="navbar-nav ms-3">
            <li class="nav-item" (click)="routeChange()">
                <a class="nav-link custom-link" [class.active]="activeSection==='home'" [routerLink]="['']">Home</a>
            </li>
            <li class="nav-item" (click)="routeChange()">
                <a class="nav-link custom-link" [class.active]="activeSection==='about-us'"
                    [routerLink]="['about-us']">About Us</a>
            </li>
            <li class="nav-item" (click)="routeChange()">
                <a class="nav-link custom-link" [class.active]="activeSection==='products'"
                    [routerLink]="['products']">Products</a>
            </li>
        </ul>
    </div>
    <div class="header-cart">
        <span class="me-2">₹ {{'0.00'}}</span>
        <mat-icon>shopping_cart</mat-icon>
        <span class="position-absolute translate-middle badge rounded-pill bg-danger">
            {{'0'}}
        </span>
    </div>
</nav>