<div class="section">
    <div class="heading-text text-center">
        Shipping & Delivery Policy
    </div>
    <div class="mt-3">
        At Thinner Mart, we strive to ensure timely and secure delivery of your orders. Please read our shipping and
        delivery policy carefully.
    </div>
    <div class="mt-3">
        <div class="fw-bold">Order Processing</div>
        <ul>
            <li>Orders are processed and dispatched within 24-48 hours after payment confirmation.</li>
            <li>Order cancellation is not allowed once the order is placed.</li>
            <li>For assistance, please contact our customer care team.</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Delivery Details</div>
        <ul>
            <li>Free delivery on all orders.</li>
            <li>Estimated delivery time: 5-7 days, depending on your location. Delivery time may increase for remote or
                distant areas.</li>
            <li>In case of a high volume of orders, shipping may be delayed. We will contact you regarding any delays.
            </li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Damage During Transport</div>
        <div>Note: Thinner Mart does not cover damage during transport. Please inspect the package upon delivery and
            report any issues to the transporter immediately.
        </div>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Customer Support</div>
        <div>For any questions or concerns regarding shipping or delivery, please contact us:
            Email: {{'thinnermart@gmail.com'}}
            & Phone: +918452006089
        </div>
    </div>
</div>