<div class="section">
    <div class="heading-text text-center">
        {{"Shipping & Delivery Policy" | translate}}
    </div>
    <div class="mt-3">
        {{"At Thinner Mart, we strive" | translate}}
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Order Processing" | translate}}</div>
        <ul class="ps-3">
            <li>{{"Orders are processed" | translate}}</li>
            <li>{{"Order cancellation" | translate}}</li>
            <li>{{"For assistance" | translate}}</li>
        </ul>
    </div>

    <div class="mt-3">
        <div class="fw-bold">{{"Delivery Details" | translate}}</div>
        <ul class="ps-3">
            <!-- <li>{{"Express delivery" | translate}}</li>
            <li>{{"For areas not eligible" | translate}}</li>
            <li>{{"Estimated delivery time" | translate}}</li>
            <li>{{"In case of a high volume" | translate}}
            </li> -->
            <li>
                {{"Delivery charges extra paid" | translate}}
            </li>
            <li>{{"Additional delivery charges apply" | translate}}</li>
            <li>{{"Estimated delivery time" | translate}}</li>
            <li>{{"In case of a high volume" | translate}}</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Damage During Transport" | translate}}</div>
        <div>{{"Note: Thinner Mart does" | translate}}
        </div>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Customer Support" | translate}}</div>
        <div>{{"For any questions or concerns" | translate}} {{'thinnermart@gmail.com'}}
            {{"& Phone: +91 8452006089" | translate}}
        </div>
    </div>
    {{"Cities eligible for express delivery"| translate}}
    <ul class="cities-list ps-3">
        <li>Mumbai,Maharashtra</li>
        <li>Thane,Maharashtra</li>
        <li>Navi Mumbai,Maharashtra</li>
        <li>Pune,Maharashtra</li>
        <li>Nagpur,Maharashtra</li>
        <li>Shambhaji Nagar,Maharashtra</li>
        <li>Pen,Maharashtra</li>
        <li>Indore,Madhya Pradesh</li>
        <li>Ujjain,Madhya Pradesh</li>
        <li>Bhopal,Madhya Pradesh</li>
        <li>Jabalpur,Madhya Pradesh</li>
        <li>Gwalior,Madhya Pradesh</li>
        <li>Lucknow,UP</li>
        <li>Kanpur,UP</li>
        <li>Agra,UP</li>
        <li>Noida,UP</li>
        <li>Varanasi,UP</li>
        <li>Meerut,UP</li>
        <li>Gorakhpur,UP</li>
        <li>Mathura,UP</li>
        <li>Prayagraj,UP</li>
        <li>Ghaziabad,UP</li>
        <li>Surat,Gujarat</li>
        <li>Vadodara,Gujarat</li>
        <li>Rajkot,Gujarat</li>
        <li>Ahmedabad,Gujarat</li>
        <li>Bhavnagar,Gujarat</li>
        <li>Gandhinagar,Gujarat</li>
        <li>Valsad, Gujarat</li>
        <li>Jamnagar, Gujarat</li>
        <li>Vapi,Gujarat</li>
        <li>Bhuj, Gujarat</li>
        <li>morbi,Gujarat</li>
        <li>Patna,Bihar</li>
        <li>Gaya,Bihar</li>
        <li>Bhagalpur,Bihar</li>
        <li>Muzaffarpur,Bihar</li>
        <li>Bihar Sharif,Bihar</li>
        <li>Bengaluru,Karnataka</li>
        <li>Mysuru,Karnataka</li>
        <li>Hubli,Karnataka</li>
        <li>Mangaluru,Karnataka</li>
        <li>Raipur,Chhattisgarh</li>
        <li>Durg-Bhilal, Chhattisgarh</li>
        <li>Bilaspur,Chhattisgarh</li>
        <li>Gurugram,Haryana</li>
        <li>Faridabad,Haryana</li>
        <li>Panipat,Haryana</li>
        <li>Hisar,Haryana</li>
        <li>Bhubaneswar,Odisha</li>
        <li>Cuttack,Odisha</li>
        <li>Puri,Odisha</li>
        <li>Sambalpur, Odisha</li>
        <li>Delhi NCR</li>
        <li>Jaipur,Rajasthan</li>
        <li>Jodhpur,Rajasthan</li>
        <li>Udaipur,Rajasthan</li>
        <li>Ajmer,Rajasthan</li>
        <li>Kota,Rajasthan</li>
        <li>Bikaner, Rajasthan</li>
        <li>Bhiwadi,Rajasthan</li>
        <li>Bhilwara,Rajasthan</li>
        <li>Goa</li>
        <li>Ranchi,Jharkhand</li>
        <li>Jamshedpur,Jharkhand</li>
        <li>Dhanbad,Jharkhand</li>

    </ul>
</div>