<div class="section">
    <div class="heading-text text-center">
        {{"Shipping & Delivery Policy" | translate}}
    </div>
    <div class="mt-3">
        {{"At Thinner Mart, we strive" | translate}}
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Order Processing" | translate}}</div>
        <ul>
            <li>{{"Orders are processed" | translate}}</li>
            <li>{{"Order cancellation" | translate}}</li>
            <li>{{"For assistance" | translate}}</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Delivery Details" | translate}}</div>
        <ul>
            <li>{{"Free delivery" | translate}}</li>
            <li>{{"Estimated delivery time" | translate}}</li>
            <li>{{"In case of a high volume" | translate}}
            </li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Damage During Transport" | translate}}</div>
        <div>{{"Note: Thinner Mart does" | translate}}
        </div>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Customer Support" | translate}}</div>
        <div>{{"For any questions or concerns" | translate}} {{'thinnermart@gmail.com'}}
            {{"& Phone: +91 8452006089" | translate}}
        </div>
    </div>
</div>