<div class="section">
    <div class="heading-text text-center">
        Replacement, Return &
        Refund Policy
    </div>
    <div class="mt-3">
        Please read our policy carefully to understand the terms and conditions for replacements,
        payments, and shipping.
    </div>
    <div class="mt-2">
        Note:<br>
        There are no returns and no refunds. Only replacements are allowed in eligible cases.
    </div>
    <div class="mt-3">
        <div class="fw-bold">Replacement Validity</div>
        <div>Replacement is accepted only within 15 days after delivery.</div>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Eligible Cases for Replacement</div>
        <div>Discoloration due to chemical reaction.</div>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Requirements for Replacement</div>
        <ul>
            <li>Upload clear front photos of the product.</li>
            <li>Manufacturing date should be clearly visible in the photo.</li>
            <li>The balance product must be returned in the original box packing, same as sent by Thinner Mart.</li>
            <li>Seal should be intact.</li>
            <li>Product should be properly packed in a box.</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Shipping Instructions</div>
        <ul>
            <li>Send the product to your nearest transport office.</li>
            <li>Do not pay any amount to the transporter.</li>
            <li>Tell them to select the "To-Pay" payment method - it's a free replacement.</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Replacement Process</div>
        <ul>
            <li>Once we receive your parcel, we will verify the quantity.</li>
            <li>The same quantity will be shipped to you as a replacement.</li>
            <li>If your parcel is eligible for replacement and meets our policies, we'll ship and deliver the
                replacement products within 7 working days after verification.</li>
            <li>The entire replacement process can take up to 15 working days.</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Payment</div>
        <ul>
            <li>We accept payments via PhonePe or Razorpay Gateway.</li>
            <li>Multiple payment options available.</li>
            <li>UPI.</li>
            <li>Credit Card.</li>
            <li>Net Banking, etc.</li>
            <li>All prices include GST.</li>
            <li>Safe and secure payments ensured via Razorpay and PhonePe.</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Shipping & Delivery</div>
        <ul>
            <li>Orders are processed and dispatched within 24-48 hours after payment confirmation.</li>
            <li>Order cancellation is not allowed once the order is placed.</li>
            <li>For assistance, please contact customer care.</li>
        </ul>
    </div>
</div>