<div class="section">
    <div class="heading-text text-center">
        {{"Replacement, Return & Refund Policy" | translate}}
    </div>
    <div class="mt-3">
        {{"Please read our policy" | translate}}
    </div>
    <div class="mt-2">
        {{"Note:" | translate}}<br>
        {{"There are no returns" | translate}}
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Replacement Validity" | translate}}</div>
        <div>{{"Replacement is accepted" | translate}}</div>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Eligible Cases for Replacement" | translate}}</div>
        <div>{{"Discoloration" | translate}}</div>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Requirements for Replacement" | translate}}</div>
        <ul>
            <li>{{"Upload clear" | translate}}</li>
            <li>{{"Manufacturing date" | translate}}</li>
            <li>{{"The balance product" | translate}}</li>
            <li>{{"Seal should" | translate}}</li>
            <li>{{"Product should be properly" | translate}}</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Shipping Instructions" | translate}}</div>
        <ul>
            <li>{{"Send the product" | translate}}</li>
            <li>{{"Do not pay any" | translate}}</li>
            <li>{{"Tell them to select" | translate}}</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Replacement Process" | translate}}</div>
        <ul>
            <li>{{"Once we receive your parcel" | translate}}</li>
            <li>{{"The same quantity will be shipped"| translate}}</li>
            <li>{{"If your parcel is eligible" | translate}}</li>
            <li>{{"The entire replacement" | translate}}</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Payment" | translate}}</div>
        <ul>
            <li>{{"We accept payments" | translate}}</li>
            <li>{{"Multiple payment" | translate}}</li>
            <li>UPI.</li>
            <li>{{"Credit Card" | translate}}</li>
            <li>{{"Net Banking" | translate}}</li>
            <li>{{"All prices include GST." | translate}}</li>
            <li>{{"Safe and secure payments" | translate}}</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Shipping & Delivery" | translate}}</div>
        <ul>
            <li>{{"Orders are processed and dispatched" | translate}}</li>
            <li>{{"Order cancellation" | translate}}</li>
            <li>{{"For assistance" | translate}}</li>
        </ul>
    </div>
</div>