<div class="admin-section">
    <div class="row">
        <div class="col-md-4">
            <div class="card kt-pointer" [routerLink]="['/product-list']">
                <div class="card-body">
                    <div class="text-center">
                        <img src="../../../assets/images/products-card.png" width="100">
                        <div class="mt-2">
                            <h5>{{"Products" | translate}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card kt-pointer" [routerLink]="['/coupons-list']">
                <div class="card-body">
                    <div class="text-center">
                        <img src="../../../assets/images/coupons.png" width="100">
                        <div class="mt-2">
                            <h5>{{"Coupons" | translate}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>