@use '../../../colors.scss' as *;

.carousel-image {
    width: 100%;
    max-width: 100%;
}

::ng-deep.p-carousel-indicator-button {
    width: 10px !important;
    height: 10px !important;
}

.top-products-image>img {
    width: 80%;
}

.top-product-1 {
    text-align: end;
}

.top-product-2 {
    text-align: center;
}

.top-product-3 {
    text-align: start;
}

.about-image {
    width: 75%;
    height: 100%;
}

.read-more {
    text-decoration: underline;
    color: #003366;
    cursor: pointer;
}

.about-thinner-mart-text {
    width: 75%;
}

.about-thinner-mart-image {
    text-align: end;
}

.about-thinner-mart-icons {
    margin-left: 7%;
    margin-right: 3%;
}

.about-thinner-mart-icons-1 {
    width: auto !important;
    height: auto !important;
    font-size: 48px !important;
}

.about-thinner-mart-icons-color {
    color: #0F658A;
}

@media (max-width: 767px) {
    .top-product-1 {
        text-align: center;
    }

    .top-product-2 {
        text-align: center;
        margin-top: 3rem;
    }

    .top-product-3 {
        text-align: center;
        margin-top: 3rem;
    }

    .about-thinner-mart-text {
        width: 100%;
        margin-top: 5%;
    }

    .about-thinner-mart-image {
        text-align: center;
    }
}

.why-buy-icon-color {
    color: #539CBB;
}

.home-container {
    background-color: #fff;
}