<div class="home-container">
    <p-carousel [value]="banners" [numVisible]="1" [numScroll]="1" [responsiveOptions]="responsiveOptions"
        [circular]="true" [autoplayInterval]="3000" [showNavigators]="false">
        <ng-template let-banner #item>
            <img [src]="banner.src" class="carousel-image">
        </ng-template>
    </p-carousel>
    <div class="feature-container" *ngIf="!showFeatureCarousel">
        <div class="feature-item"><img src="../../../assets/images/free delivery.svg">
            <div class="fw-bold mt-2" style="font-size:14px;">{{"Free Delivery" | translate}}</div>
        </div>
        <div class="feature-item"><img src="../../../assets/images/gst billing.svg">
            <div class="fw-bold mt-2" style="font-size:14px;">{{"GST Billing" |translate}}</div>
        </div>
        <div class="feature-item"><img src="../../../assets/images/secure payment.svg">
            <div class="fw-bold mt-2" style="font-size:14px;">{{"Secured Payment" | translate}}</div>
        </div>
        <div class="feature-item"><img src="../../../assets/images/15 days replacement'.svg">
            <div class="fw-bold mt-2" style="font-size:14px;">{{"15 Days Replacement" | translate}}</div>
        </div>
    </div>
    <div *ngIf="showFeatureCarousel">
        <p-carousel [value]="featureItemImages" [numVisible]="1" [numScroll]="1" [responsiveOptions]="responsiveOptions"
            [circular]="true" [autoplayInterval]="3000" [showNavigators]="false" [showIndicators]="false">
            <ng-template let-banner #item>
                <div class="feature-item-1"><img [src]="banner.src">
                    <div class="fw-bold mt-2" style="font-size:14px;">{{banner.data | translate}}</div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    <div class="heading-text text-center mt-4">{{"Key Benefits of Our Products" |translate}}</div>
    <div class="mt-3">
        <img [src]="benefitsBanner" class="w-100">
    </div>
    <div class="mt-3">
        <div class="heading-text text-center mt-4">{{"Top Products" | translate}}</div>
        <div class="row mt-4">
            <div class="col-md-4 top-products-image top-product-1">
                <img [src]="topProducts.product1" class="">
            </div>
            <div class="col-md-4 top-products-image top-product-2">
                <img [src]="topProducts.product2" class="">
            </div>
            <div class="col-md-4 top-products-image top-product-3">
                <img [src]="topProducts.product3" class="">
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="heading-text text-center mt-4">{{"Our Products" | translate}}</div>
        <div class="our-products-grid mt-3 px-5">
            <div class="products-div" *ngFor="let product of productsList" (click)="redirectToProduct(product.id)">
                <div class="text-center">
                    <div class="product-image-container">
                        <img [src]="baseUrl + '/' + product.image" width="100%" height="100%">
                        <div class="icon-overlay" pTooltip="Select Options" tooltipPosition="left">
                            <mat-icon>shopping_basket</mat-icon>
                        </div>
                    </div>
                    <div class="thinner-class mt-2">{{product.category}}</div>
                    <div class="fs-6 fw-bold heading-color mt-1 product-list-name">{{product.name}}</div>
                    <div class="fs-6 heading-color mt-1">{{product.price}}</div>
                    <div class="d-flex justify-content-center mt-2">
                        <div class="select-options-button">{{"Select Options" | translate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="heading-text text-center mt-4">{{"About Thinner Mart" | translate}}</div>
        <div class="row mt-3 mx-5">
            <div class="col-md-6 about-thinner-mart-image"><img src="../../../assets/images/about-us-products.png"
                    class="about-image">
            </div>
            <div class="col-md-6">
                <div class="text-justify about-thinner-mart-text line-height-4">{{"India's trusted" | translate}}
                    <br>
                    {{"Backed by" | translate}}<span class="read-more" [routerLink]="['about-us']">{{"Read More" |
                        translate}}</span>
                </div>
            </div>
        </div>
        <div class="row mt-3 about-thinner-mart-icons gy-3">
            <div class="col-md-3">
                <div class="d-flex about-thinner-mart-icons-color">
                    <mat-icon class="about-thinner-mart-icons-1"> factory</mat-icon>
                    <span class="ms-3 fs-5 align-content-center">{{"Manufacturing Excellence" |translate}}</span>
                </div>
                <div>{{"State-of-the art" | translate}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex about-thinner-mart-icons-color">
                    <mat-icon class="about-thinner-mart-icons-1"> science</mat-icon>
                    <span class="ms-3 fs-5 align-content-center">{{"Research & Development" |translate}}</span>
                </div>
                <div>{{"Continuous innovation" |translate}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex about-thinner-mart-icons-color">
                    <mat-icon class="about-thinner-mart-icons-1">local_shipping</mat-icon>
                    <span class="ms-3 fs-5 align-content-center">{{"PAN-India Distribution" |translate}}</span>
                </div>
                <div>{{"Serving customer" |translate}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex about-thinner-mart-icons-color">
                    <mat-icon class="about-thinner-mart-icons-1">check_circle</mat-icon>
                    <span class="ms-3 fs-5 align-content-center">{{"Quality Certified" |translate}}</span>
                </div>
                <div>{{"Our Products comply" |translate}}
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="heading-text text-center mt-4">{{"How to Order" |translate}}</div>
            <div class="text-center">{{"Follow these simple steps" |translate}}</div>
            <div class="row about-thinner-mart-icons mt-0 g-4">
                <div class="col-md-6 d-flex"><img src="../../../assets/images/number-1.png" height="40">
                    <div class="ms-3">
                        <div class="about-thinner-mart-icons-color fs-5">{{"Browse Products"|translate}}</div>
                        <div>{{"Explore our range of professional" |translate}}</div>
                    </div>
                </div>
                <div class="col-md-6 d-flex"><img src="../../../assets/images/number-2.png" height="40">
                    <div class="ms-3">
                        <div class="about-thinner-mart-icons-color fs-5">{{"Select Options" |translate}}</div>
                        <div>{{"Choose the right product" |translate}}</div>
                    </div>
                </div>
                <div class="col-md-6 d-flex"><img src="../../../assets/images/number-3.png" height="40">
                    <div class="ms-3">
                        <div class="about-thinner-mart-icons-color fs-5">{{"Add to Cart" |translate}}</div>
                        <div>{{"Add your selected product" |translate}}</div>
                    </div>
                </div>
                <div class="col-md-6 d-flex"><img src="../../../assets/images/number-4.png" height="40">
                    <div class="ms-3">
                        <div class="about-thinner-mart-icons-color fs-5">{{"Place Order" |translate}}</div>
                        <div>{{"Complete your purchase" |translate}}</div>
                    </div>
                </div>
                <div class="col-md-12 d-flex"><img src="../../../assets/images/number-5.png" height="40">
                    <div class="ms-3">
                        <div class="about-thinner-mart-icons-color fs-5">{{"Delivery" |translate}}</div>
                        <div>
                            {{"Relax, and we'll" |translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="heading-text text-center mt-4">{{"Why Buy From Us?" |translate}}</div>
        <div class="row about-thinner-mart-icons g-2 mt-0">
            <div class="col-md-3"></div>
            <div class="col-md-3 d-flex"><mat-icon class="why-buy-icon-color">check_circle</mat-icon><span
                    class="ms-2">{{"Direct from manufacturer pricing" |translate}}
                </span></div>
            <div class="col-md-3 d-flex"><mat-icon class="why-buy-icon-color">check_circle</mat-icon><span
                    class="ms-2">{{"Bulk order discount available" |translate}}</span>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 d-flex"><mat-icon class="why-buy-icon-color">check_circle</mat-icon><span class="ms-2">
                    {{"Fast shipping across India" |translate}}
                </span>
            </div>
            <div class="col-md-3 d-flex"><mat-icon class="why-buy-icon-color">check_circle</mat-icon><span class="ms-2">
                    {{"Sample options for product testing" |translate}}
                </span>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 d-flex"><mat-icon class="why-buy-icon-color">check_circle</mat-icon><span class="ms-2">
                    {{"Secure payment options" | translate}}
                </span>
            </div>
            <div class="col-md-3 d-flex"><mat-icon class="why-buy-icon-color">check_circle</mat-icon><span class="ms-2">
                    {{"Expert customer support" | translate}}
                </span>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>