@use '../../../colors.scss' as *;

.carousel-image {
    width: 100%;
    max-width: 100%;
}

::ng-deep.p-carousel-indicator-button {
    width: 10px !important;
    height: 10px !important;
}

.top-products-image>img {
    width: 80%;
}

.top-product-1 {
    text-align: end;
}

.top-product-2 {
    text-align: center;
}

.top-product-3 {
    text-align: start;
}

.about-image {
    width: 75%;
    height: 100%;
}

.read-more {
    text-decoration: underline;
    color: #003366;
    cursor: pointer;
}

.about-thinner-mart-text {
    width: 75%;
}

.about-thinner-mart-image {
    text-align: end;
}

.about-thinner-mart-icons {
    margin-left: 7%;
    margin-right: 3%;
}

.about-thinner-mart-icons-1 {
    width: auto !important;
    height: auto !important;
    font-size: 48px !important;
}

.about-thinner-mart-icons-color {
    color: #0F658A;
}

@media (max-width: 767px) {
    .top-product-1 {
        text-align: center;
    }

    .top-product-2 {
        text-align: center;
        margin-top: 3rem;
    }

    .top-product-3 {
        text-align: center;
        margin-top: 3rem;
    }

    .about-thinner-mart-text {
        width: 100%;
        margin-top: 5%;
    }

    .about-thinner-mart-image {
        text-align: center;
    }
}

.why-buy-icon-color {
    color: #539CBB;
}

.home-container {
    background-color: #fff;
}

.our-products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.our-products-grid .products-div {
    flex: 1 1 calc(20% - 16px);
    max-width: calc(20% - 16px);
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width: 900px) {
    .our-products-grid .products-div {
        flex: 1 1 calc(33.33% - 16px);
        max-width: calc(33.33% - 16px);
    }
}

@media (max-width: 600px) {
    .our-products-grid .products-div {
        flex: 1 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
    }
}

@media (max-width: 400px) {
    .our-products-grid .products-div {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.select-options-button {
    background-color: $heading-color;
    text-align: center;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}

.product-image-container {
    position: relative;
    display: inline-block;
}

.product-image-container img {
    width: 100%;
    display: block;
}

.icon-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    font-size: 0px;
    opacity: .6;
}

.icon-overlay:hover {
    opacity: 1;
}

.product-image-container:hover .icon-overlay {
    display: block;
}

.feature-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.feature-item {
    width: 45%;
    text-align: center;
}

@media (min-width: 768px) {
    .feature-item {
        width: 16.66%;
    }
}

.feature-item-1 {
    width: 100%;
    text-align: center;
}