<div class="section">
    <div class="heading-text text-center">
        {{"Privacy Policy" | translate}}
    </div>
    <div class="mt-3">
        {{"At Thinner Mart" |translate}}
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Information We Collect" | translate}}</div>
        <ul>
            <li>{{"Personal Details" | translate}}</li>
            <li>{{"Payment Information" | translate}}</li>
            <li>{{"Order Details" | translate}}</li>
            <li>{{"Device & Log Information" | translate}}</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"How We Use Your Information" | translate}}</div>
        <ul>
            <li>{{"Process and fulfill" | translate}}</li>
            <li>{{"Send order updates" | translate}}</li>
            <li>{{"Improve customer experience" | translate}}</li>
            <li>{{"Respond to your inquiries" | translate}}</li>
            <li>{{"Comply with legal" | translate}}</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Sharing Your Information" | translate}}</div>
        <div>{{"We do not sell" | translate}}</div>
        <ul>
            <li>{{"Trusted third-party service" | translate}}</li>
            <li>{{"Legal authorities" | translate}}</li>
        </ul>
        <div>{{"All shared data" | translate}}</div>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Payment Security" | translate}}</div>
        <div>{{"All payments are securely" | translate}}
        </div>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Cookies & Tracking" | translate}}</div>
        <div>{{"We may use cookies" | translate}}</div>
        <ul>
            <li>{{"Remember your preferences" | translate}}</li>
            <li>{{"Understand usage patterns" | translate}}</li>
            <li>{{"Enhance website functionality" | translate}}</li>
        </ul>
        <div>{{"You can choose to disable" | translate}}</div>
    </div>
    <div class="mt-3">
        <div class="fw-bold">{{"Updates to This Policy" | translate}}</div>
        <div>{{"This policy may be updated" | translate}}
        </div>
    </div>
</div>