<div class="section">
    <div class="heading-text text-center">
        Privacy Policy
    </div>
    <div class="mt-3">
        At Thinner Mart, we are committed to protecting your privacy. This Privacy Policy outlines how we collect,
        use,
        and
        safeguard your personal information when you visit our website or interact with our services.
    </div>
    <div class="mt-3">
        <div class="fw-bold">Information We Collect</div>
        <ul>
            <li>Personal Details: Name, phone number, email address, shipping address, billing address.</li>
            <li>Payment Information: UP|, credit/debit card details (via secure gateways like Razorpay and PhonePe -
                we
                do
                not store card details).</li>
            <li>Order Details: Purchase history, order preferences, transaction details.</li>
            <li>Device & Log Information: IP address, browser type, access times, and pages visited.</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">How We Use Your Information</div>
        <ul>
            <li>Process and fulfill your orders.</li>
            <li>Send order updates and confirmations.</li>
            <li>Improve customer experience and website functionality.</li>
            <li>Respond to your inquiries and provide customer support.</li>
            <li>Comply with legal and regulatory obligations</li>
        </ul>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Sharing Your Information</div>
        <div>We do not sell or trade your personal information. We may share data with:</div>
        <ul>
            <li>Trusted third-party service providers (e.g., payment gateways, shipping partners).</li>
            <li>Legal authorities if required under applicable law.</li>
        </ul>
        <div>All shared data is handled with strict confidentiality.</div>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Payment Security</div>
        <div>All payments are securely processed through trusted third-party gateways like Razorpay and PhonePe. We
            do
            not store or access your
            payment credentials.
        </div>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Cookies & Tracking</div>
        <div>We may use cookies to improve your browsing experience. These help us:</div>
        <ul>
            <li>Remember your preferences.</li>
            <li>Understand usage patterns.</li>
            <li>Enhance website functionality.</li>
        </ul>
        <div>You can choose to disable cookies through your browser settings.</div>
    </div>
    <div class="mt-3">
        <div class="fw-bold">Updates to This Policy</div>
        <div>This policy may be updated from time to time without any notification
            Any changes will be posted on this page with the revised date.
        </div>
    </div>
</div>