<div class="product-section">
    <div class="row">
        <div class="col-md-6">
            <div class="product-image-container" (mousemove)="onMouseMove($event, container)"
                (mouseleave)="onMouseLeave()" #container>
                <img src="../../../assets/images/top-product-1.png" class="product-page-image" [ngStyle]="{
                    'transform-origin': transformOrigin,
                    transform: isZoomed ? 'scale(2)' : 'scale(1)'
                  }">
                <div class="zoom-icon-overlay" (click)="zoomProduct()">
                    <mat-icon>search</mat-icon>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-path mt-2">Home / Thinner / Royal GP THINNER</div>
            <div class="product-name mt-2">ROYAL GP THINNER</div>
            <div class="product-price mt-2">₹44.00 - ₹1,855.00</div>
            <div class="product-info mt-2">A versatile solvent-based thinner for oil-based paints, varnishes, and
                enamels.
            </div>
            <div class="size-options-wrapper mt-2">
                <div class="fs-6">Size Options:</div>
                <div class="sizes mt-2">
                    <div class="size-box" *ngFor="let size of sizes; index as i" [class.selected]="i === selectedIndex"
                        (click)="selectSize(i)">
                        <div class="label">{{ size.label }}</div>
                        <div class="price">₹{{ size.price }}</div>
                    </div>
                </div>
            </div>
            <div class="price-clear mt-2"><span class="text-muted kt-pointer" (click)="selectedIndex=''">CLEAR</span>
            </div>
            <div class="quantity-wrapper mt-2">
                <div class="fs-6">Quantity:</div>
                <p-inputnumber [(ngModel)]="quantity" [showButtons]="true" buttonLayout="horizontal"
                    inputId="horizontal" spinnerMode="horizontal" [step]="1" [max]="10" [min]="1" class="mt-2">
                    <ng-template #incrementbuttonicon>
                        <mat-icon class="text-black">add</mat-icon>
                    </ng-template>
                    <ng-template #decrementbuttonicon>
                        <mat-icon class="text-black">remove</mat-icon>
                    </ng-template>
                </p-inputnumber>
                <div class="units-per-box text-muted mt-1">Units per box: 50</div>
            </div>
            <div class="add-to-cart mt-3" [class.add-to-cart-disable]="selectedIndex==''">
                Add to cart
            </div>
        </div>
    </div>
    <div class="row">
        <div class="tabs">
            <div class="tab" [class.active]="activeTab === 'description'" (click)="setTab('description')">
                Description
            </div>

            <div class="tab" [class.active]="activeTab === 'info'" (click)="setTab('info')">
                Additional information
            </div>
        </div>

        <div class="tab-content">
            <div *ngIf="activeTab === 'description'">
                <p>This is the description content.</p>
            </div>
            <div *ngIf="activeTab === 'info'">
                <p>This is the additional information content.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="heading-text text-center mt-4">Related Products</div>
        <div class="our-products-grid mt-3 px-5">
            <div class="products-div" (click)="redirectToProduct()">
                <div class="text-center">
                    <div class="product-image-container">
                        <img src="../../../assets/images/top-product-1.png" width="100%" height="100%">
                        <div class="icon-overlay" pTooltip="Select Options" tooltipPosition="left">
                            <mat-icon>shopping_basket</mat-icon>
                        </div>
                    </div>
                    <div class="thinner-class mt-2">Thinner</div>
                    <div class="fs-6 fw-bold heading-color mt-1">ROYAL GP THINNER</div>
                    <div class="fs-6 heading-color mt-1">₹44.00 - ₹1,855.00</div>
                    <div class="d-flex justify-content-center mt-2">
                        <div class="select-options-button">Select Options</div>
                    </div>
                </div>
            </div>
            <div class="products-div" (click)="redirectToProduct()">
                <div class="text-center">
                    <div class="product-image-container">
                        <img src="../../../assets/images/top-product-1.png" width="100%" height="100%">
                        <div class="icon-overlay" pTooltip="Select Options" tooltipPosition="left">
                            <mat-icon>shopping_basket</mat-icon>
                        </div>
                    </div>
                    <div class="thinner-class mt-2">Thinner</div>
                    <div class="fs-6 fw-bold heading-color mt-1">ROYAL GP THINNER</div>
                    <div class="fs-6 heading-color mt-1">₹44.00 - ₹1,855.00</div>
                    <div class="d-flex justify-content-center mt-2">
                        <div class="select-options-button">Select Options</div>
                    </div>
                </div>
            </div>
            <div class="products-div" (click)="redirectToProduct()">
                <div class="text-center">
                    <div class="product-image-container">
                        <img src="../../../assets/images/top-product-1.png" width="100%" height="100%">
                        <div class="icon-overlay" pTooltip="Select Options" tooltipPosition="left">
                            <mat-icon>shopping_basket</mat-icon>
                        </div>
                    </div>
                    <div class="thinner-class mt-2">Thinner</div>
                    <div class="fs-6 fw-bold heading-color mt-1">ROYAL GP THINNER</div>
                    <div class="fs-6 heading-color mt-1">₹44.00 - ₹1,855.00</div>
                    <div class="d-flex justify-content-center mt-2">
                        <div class="select-options-button">Select Options</div>
                    </div>
                </div>
            </div>
            <div class="products-div" (click)="redirectToProduct()">
                <div class="text-center">
                    <div class="product-image-container">
                        <img src="../../../assets/images/top-product-1.png" width="100%" height="100%">
                        <div class="icon-overlay" pTooltip="Select Options" tooltipPosition="left">
                            <mat-icon>shopping_basket</mat-icon>
                        </div>
                    </div>
                    <div class="thinner-class mt-2">Thinner</div>
                    <div class="fs-6 fw-bold heading-color mt-1">ROYAL GP THINNER</div>
                    <div class="fs-6 heading-color mt-1">₹44.00 - ₹1,855.00</div>
                    <div class="d-flex justify-content-center mt-2">
                        <div class="select-options-button">Select Options</div>
                    </div>
                </div>
            </div>
            <div class="products-div" (click)="redirectToProduct()">
                <div class="text-center">
                    <div class="product-image-container">
                        <img src="../../../assets/images/top-product-1.png" width="100%" height="100%">
                        <div class="icon-overlay" pTooltip="Select Options" tooltipPosition="left">
                            <mat-icon>shopping_basket</mat-icon>
                        </div>
                    </div>
                    <div class="thinner-class mt-2">Thinner</div>
                    <div class="fs-6 fw-bold heading-color mt-1">ROYAL GP THINNER</div>
                    <div class="fs-6 heading-color mt-1">₹44.00 - ₹1,855.00</div>
                    <div class="d-flex justify-content-center mt-2">
                        <div class="select-options-button">Select Options</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>