<div class="coupons-list-section">
    <div class="d-flex justify-content-between py-4">
        <div class="heading-text">{{"Coupons" | translate}}</div>
        <button class="btn btn-login" (click)="addNewCoupon()">{{"Add New Coupon" | translate}}</button>
    </div>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. thinner" #input>
    </mat-form-field>

    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> {{"Sr. No." | translate}} </th>
                <td mat-cell *matCellDef="let row; let i = index"> {{ (paginator.pageIndex * paginator.pageSize) + i + 1
                    }} </td>
            </ng-container>

            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"Coupon Code" | translate}} </th>
                <td mat-cell *matCellDef="let row"> {{row.code}} </td>
            </ng-container>

            <ng-container matColumnDef="percentage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"Percentage" | translate}} </th>
                <td mat-cell *matCellDef="let row"> {{row.percentage}} </td>
            </ng-container>

            <ng-container matColumnDef="minimumAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"Minimum Amount" | translate}} </th>
                <td mat-cell *matCellDef="let row"> {{row.minimumAmount}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"Action" | translate}} </th>
                <td mat-cell *matCellDef="let row">
                    <div class="d-flex">
                        <div class="border-1 d-flex align-items-center border-round p-1 bg-muted bg-yellow-100 kt-pointer"
                            title="Edit" (click)="editCoupon(row.id)">
                            <mat-icon>edit_note</mat-icon>
                        </div>
                        <div class="border-1 ms-2 d-flex align-items-center border-round p-1 bg-muted bg-red-100 kt-pointer"
                            title="Delete" (click)="deleteCoupon(row.id)">
                            <mat-icon>delete</mat-icon>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="10"
            aria-label="Select page of products"></mat-paginator>
    </div>
</div>