<div class="section">
    <div class="heading-text text-center">
        About Thinner Mart
    </div>
    <div class="mt-3">
        <div class="row">
            <div class="col-md-6 about-us-text line-height-4">
                <div>India's trusted online destination for premium quality thinners at factory prices. We're here to
                    make thinner buying simple, affordable, and transparent by eliminating middlemen. Whether you're a
                    retailer, paint shop, or industrial buyer, Thinner Mart is designed to serve your needs directly
                    from the source.</div>
                <div class="mt-4">Backed by the legacy and expertise of Mehta Corporation,
                    a well-established name in the thinner manufacturing industry since 2005. With nearly two decades of
                    hands-on experience, Mehta Corporation brings trust, consistency, and uncompromising quality to this
                    new digital platform.</div>
                <div class="mt-4">Thinner Mart was born out of a simple yet powerful idea. To deliver quality thinners
                    directly to
                    businesses at the best prices. We believe every business, big or small, deserves access to
                    high-quality products without paying a premium.</div>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/about-us-products.png" class="about-us-image">
            </div>
        </div>
    </div>
    <!-- <google-map height="400px" width="100%" [center]="center" [zoom]="zoom" [options]="options">
        <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label">
        </map-marker>
    </google-map> -->
    <div class="heading-text text-center mt-4">
        About Mehta Corporation
    </div>
    <div class="fw-bold text-center mt-2">GSTIN : 27AAWPM0837H1ZA | MSME UDYAM No:MH-33-0208978</div>
    <div class="row mt-3">
        <div class="col-md-6 about-mehta-corporation-1">
            <div class="p-2 d-flex"><mat-icon class="text-success me-2">check_circle</mat-icon>Established in 2005</div>
            <div class="p-2 d-flex"><mat-icon class="text-success me-2">check_circle</mat-icon>20+ years of expertise
            </div>
            <div class="p-2 d-flex"><mat-icon class="text-success me-2">check_circle</mat-icon>Specialized in Quality
                Thinners</div>
            <div class="p-2 d-flex"><mat-icon class="text-success me-2">check_circle</mat-icon>Trusted by 500+ Retailers
                & Industries</div>
        </div>
        <div class="col-md-6 about-mehta-corporation-2">
            <div class="p-2 d-flex"><mat-icon class="text-success me-2">check_circle</mat-icon>Made for Real-World Use
            </div>
            <div class="p-2 d-flex"><mat-icon class="text-success me-2">check_circle</mat-icon>Strong Supply Network
            </div>
            <div class="p-2 d-flex"><mat-icon class="text-success me-2">check_circle</mat-icon>Legacy Meets Innovation
            </div>
            <div class="p-2 d-flex"><mat-icon class="text-success me-2">check_circle</mat-icon>From Factory to You</div>
        </div>
    </div>
    <div class="heading-text text-center mt-4">
        Why Choose Thinner Mart ?
    </div>
    <div class="g-4 mt-2 ps-5 row">
        <div class="col-md-3 d-flex align-items-center about-us-icons-container">
            <div class="about-us-icons">
                <mat-icon> local_shipping</mat-icon>
            </div>
            <div class="why-choose-text ms-2">Nationwide Distribution</div>
        </div>
        <div class="col-md-3 d-flex align-items-center about-us-icons-container">
            <div class="about-us-icons">
                <mat-icon> handshake</mat-icon>
            </div>
            <div class="why-choose-text ms-2">Customer-Centric Approach</div>
        </div>
        <div class="col-md-3 d-flex align-items-center about-us-icons-container">
            <div class="about-us-icons">
                <mat-icon> factory</mat-icon>
            </div>
            <div class="why-choose-text ms-2">Direct from Manufacturers</div>
        </div>
        <div class="col-md-3 d-flex align-items-center about-us-icons-container">
            <div class="about-us-icons">
                <span class="mdi mdi-account-remove fs-4"></span>
            </div>
            <div class="why-choose-text ms-2">No Middle Men</div>
        </div>
        <div class="col-md-3 d-flex align-items-center about-us-icons-container">
            <div class="about-us-icons">
                <mat-icon>visibility_off</mat-icon>
            </div>
            <div class="why-choose-text ms-2">No Hidden Charges</div>
        </div>
        <div class="col-md-3 d-flex align-items-center about-us-icons-container">
            <div class="about-us-icons">
                <span class="mdi mdi-dolly fs-4"></span>
            </div>
            <div class="why-choose-text ms-2">Free Delivery</div>
        </div>
        <div class="col-md-3 d-flex align-items-center about-us-icons-container">
            <div class="about-us-icons">
                <mat-icon>workspace_premium</mat-icon>
            </div>
            <div class="why-choose-text ms-2">High-Quality Products</div>
        </div>
        <div class="col-md-3 d-flex align-items-center about-us-icons-container">
            <div class="about-us-icons">
                <mat-icon>currency_rupee</mat-icon>
            </div>
            <div class="why-choose-text ms-2">Lowest Price Guaranteed</div>
        </div>
    </div>
    <div class="ready-to-experience-container mt-5 px-5 py-4">
        <div class="row">
            <div class="col-md-8">
                <div class="fs-2 fw-bold">Ready to Experience the Thinner Mart Difference?
                </div>
                <div class="mt-2">Explore our range of Premium Quality Thinners and elevate your painting and coating
                    projects.
                </div>
            </div>
            <div class="col-md-4 align-content-center">
                <div class="browse-products-container">
                    <div class="browse-our-products" [routerLink]="['/products']">
                        <div class="browse-product-icon">
                            <mat-icon> shopping_cart</mat-icon>
                        </div>
                        <div class="align-items-center d-flex mx-4 fw-bold browse-our-products-text">Browse our Products
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>