@use '../../../colors.scss' as *;

.orders-section {
    padding: 0 7%;
}

.orders-image {
    width: 40%;
}

.select-options-button {
    background-color: $heading-color;
    text-align: center;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}