@use '../../../colors.scss' as *;

.orders-section {
    padding: 0 7%;
}

.orders-image-1 {
    width: 80%;
}

.orders-image-2 {
    width: 33%;
}

.select-options-button {
    background-color: $heading-color;
    text-align: center;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}

@media (max-width:767px) {
    .order-data-container {
        padding-left: 20%;
    }
}