<div class="orders-section">
    <div class="heading-text mt-4">Orders</div>
    <div *ngIf="ordersList.length">
        <div *ngFor="let order of ordersList;let i = index;" class="py-3 border-bottom-1">
            <div class="row mb-3" *ngFor="let product of order.orderItems">
                <div class="col-md-4 text-center"><img class="orders-image" [src]="baseUrl+'/'+product.image"></div>
                <div class="col-md-4">
                    <div class="fs-5 heading-color">{{product.productName}}</div>
                    <div class="mt-1">₹{{product.price | number}}</div>
                    <div class="mt-1">Size: {{product.size}} {{product.unit}}</div>
                    <div class="mt-1">Quantity: {{product.productQty}}</div>
                </div>
                <div class="col-md-4 text-center">
                    <span class="fs-4">₹{{order.totalAmount | number}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" *ngIf="ordersList.length==0">
        <img src="../../../assets/images/empty-orders.svg" class="w-12rem">
        <div class="fw-bold mt-2">No orders placed.</div>
        <div class="d-flex justify-content-center mt-3">
            <div class="select-options-button" (click)="goToProducts()">Explore Products</div>
        </div>
    </div>
</div>