$color-primary: #6EC1E4;
$color-secondary: #54595F;
$color-text: #7A7A7A;
$color-text-header-active: #51A7D1;
$color-text-header: #426A94;
$color-accent: #61CE70;
$heading-color: #357089;
$footer-bg-color: #000000FC;
$footer-text-color: #B9B0B0;
$common-background-color: #f9f6fe;
$about-us-icons-bg: #7DDFF0C7;
$button-bg-color: #426A94;