@use './colors.scss' as *;
@use "bootstrap-icons/font/bootstrap-icons";
@use "bootstrap/scss/bootstrap";
@import url('ngx-toastr/toastr');
@import "primeflex/primeflex.css";
@import "@angular/material/prebuilt-themes/azure-blue.css";
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";


@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    padding-top: 135px;
    overflow-x: hidden;
    cursor: default;
}

@media (max-width:566px) {
    body {
        padding-top: 170px;
    }
}

@media (max-width:348px) {
    body {
        padding-top: 270px;
    }
}

:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

.heading-text {
    font-size: 28px;
    font-weight: 600;
    color: $heading-color;
}

.heading-color {
    color: $heading-color;
}

.kt-pointer {
    cursor: pointer !important;
}

.section {
    padding: 0 3%;
}

.common-background-color {
    background-color: #fff;
}

.common-background-color:has(app-home) {
    background-color: #fff;
}

.text-justify {
    text-align: justify;
}

#back-to-top {
    position: fixed;
    bottom: 100px;
    right: 28px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: none;
    z-index: 1000;
    background-color: #0F658A;
}

#back-to-top:hover {
    animation: fade-up 1.5s infinite linear;
}

@keyframes fade-up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    75% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
    }
}

.scroll-top-icon {
    background-color: #0F658A;
    color: #fff;
}

::ng-deep .cdk-overlay-container {
    z-index: 1030 !important
}

.glass-backdrop {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.thinner-class {
    opacity: .6;
    font-size: 15px;
}

.p-tooltip {
    font-size: 12px;
}

::ng-deep.p-inputnumber-input {
    width: 45px !important;
}

::ng-deep.toast-top-center.toast-container {
    top: 15px !important;
}

.product-list-name {
    height: 48px !important;
}