@use '../../../colors.scss' as *;

.cart-section {
    padding: 0 7%;
}

.product-qty-badge {
    top: 21%;
    left: 19%;
    font-size: 9px !important;
    padding: 2px;
    width: 20px;
    text-align: center;
}

.checkout-product-image {
    width: 75px;
}

::ng-deep.accordion-button {
    color: #000 !important;
    background-color: $common-background-color !important;
}

::ng-deep.accordion-button:focus {
    box-shadow: none !important;
}

::ng-deep.accordion-body {
    background-color: $common-background-color !important;
}

.coupon-apply {
    height: 30px;
    width: 180px;
    font-size: 20px;
    padding: 22px 26px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #ffcd57;
    border-radius: 50px;
    cursor: pointer;
}

.coupon-apply-disable {
    cursor: not-allowed;
    opacity: .6;
}

.place-order-button {
    height: 30px;
    width: 100%;
    font-size: 20px;
    padding: 22px 26px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #ffcd57;
    border-radius: 50px;
    cursor: pointer;
}

.place-order-button-disable {
    opacity: .6;
    pointer-events: none;
}

.checkout-product-image-wrapper {
    position: relative;
    display: inline-block;
}

.checkout-product-image-quantity {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: #fff;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 50%;
    min-width: 20px;
    text-align: center;
    line-height: 1;
    border: 1px solid;
}