@use '../../../colors.scss' as *;

.add-edit-coupon-section {
    padding: 2% 7%;
}

.btn-login {
    border: 1px solid $heading-color;
    background-color: transparent;
    color: $heading-color;
    padding: 10px 30px 10px 30px;
}

.btn-login:hover {
    color: #fff;
    background-color: $heading-color;
}

.btn-outline-danger {
    padding: 10px 30px 10px 30px;
}